
h3 {
    font-size: 18px;
    font-weight: 500;
    color: #33363b;
}

p{
    font-size: 14px;
    color: #868d9b;
}


html {
    overflow: hidden;
  }
  
  .profileContainer {
    background-color: #fff;
    color: black;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .details {
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
  }
  
  .content {
    margin-top: 5px;
  }
  
  .container button {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    background: #170646;
    border: 1px solid #170646;
    cursor: pointer;
  }
  
  .image img {
    /* border-radius: 50%; */
    /* margin: 20px 0; */
    /* border: 3px solid #170646; */
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    padding-top: 5px;
    object-fit: cover;
    border-radius: 20px;
    padding: 5px;
  }
  
  .image {
    height: 300px;
    overflow: hidden;
  }
  
